<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--使用bean标签去申明bean-->
    <bean id="studentService1" class="week5.homework.service.impl.StudentServiceImpl1" />
    <!--注入依赖的bean-->
    <bean id="classService" class="week5.homework.service.impl.ClassServiceImpl">
        <property name="studentService1" ref="studentService1"/>
        <constructor-arg>
            <ref bean="studentService3"/>
        </constructor-arg>
    </bean>

    <context:component-scan base-package="week5.homework.service" />

</beans>